* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Bodoni MT, sans-serif;
  margin: 0;
  padding-top: 250px;
}

.top {
  text-align: center;
  background-color: #ffffff;
  padding: 40px;
  margin-top: 100px;
  margin-bottom: 100px;
  height: 50vh;
}

.logo{}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-around;
  font-size: 30px;
}

li {
  text-decoration: none;
}

h1 {
  font-size: 90px;
  margin: 0;
}

h2 {
  font-size: 50px;
}

p {
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}

.sub-section {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around;
  padding: 80px;
  background-color: #5D6063;
  color: #ffffff;
  border-radius: 5px;
}

.section {
  margin: auto;
  margin-top: 0px;
  margin-bottom: 50px;
  width: 500px;
  border-radius: 5px;
  background-color: #000000;
  color: #ccc;
}

.sub-section-alternative {
   margin: auto;
    width: 500px;
    border-radius: 5px;
    background-color: #000000;
    color: #ffffff;
    padding: 40px;
}

.project-card {
  color: #d1ae00;
  background-color: #5D6063;
  width: 300px;
  height: 400px;
  margin: 10px;
  border-radius: 5px;
}

.project-container {
  display: flex;
  justify-content: space-around;
}


.subtext {
  color: #000000;
  padding: 10px;
  font-size: 15px;
  text-align: center;
}


.project-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin-top: 25px;
  width: 250px;
  border-radius: 50px;
}

.social {
  text-align: center;
  background-color: #8f8f8fb0;
  border-radius: 5px;
  width: 100%;
  padding: 20px;
}

.form {
  text-align: left;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 500px;
  border-radius: 5px;
  padding: 20px;
  background-color: #8f8f8fb0;
  color: #000000;
  font-size: 22px;
}



input[type=text],
[type=email],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=text]:invalid,
[type=email]:invalid {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  color: #D55C5F;
}



.submit {
  background-color: #000000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit:hover {
  background-color: #ccc;
  color: rgb(0, 0, 0);
}


.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background: #8f8f8fb0;
  color: white;
  border-radius: 5px;
}

.brand-title {
  font-size: 1.5rem;
  margin: .5rem;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: #555;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: .5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

  .logo {
      size: ;
    }
}